(logger) {
	log {
		output file /logs/{args[0]}-access.log
		level INFO
	}
	log {
		output file /logs/{args[0]}-error.log
		level ERROR
	}
}

(tls_cf) {
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

(base_config) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
	handle_errors {
		root * /var/www/errors
		rewrite * /{err.status_code}.html
		try_files {path} /generic.html
		templates
		file_server
	}
}

(tailnet_app) {
	{args[0]}.ipn.netherspark.net {
		import logger {args[0]}
		import tls_cf
		import base_config
		
		@not_tailnet {
			not client_ip 100.64.0.0/10
		}
		respond @not_tailnet 403
		
		reverse_proxy http://{args[1]} {
			health_uri {args[2]}
			health_interval 10s
		}
	}
}


# --- Tailnet-only services ---

import tailnet_app sonarr sonarr:8989 /ping
import tailnet_app radarr radarr:7878 /ping
import tailnet_app sabnzbd sabnzbd:8080 /
import tailnet_app bazarr bazarr:6767 /ping

# --- Public sites ---

hdhr.beans.is {
	import logger hdhr
	import tls_cf
	import base_config

	@blocked {
		not client_ip 100.64.0.0/10
		not path /player_api.php /get.php /xmltv.php /live/* /movie/* /series/* /api/channels/logos/*
	}
	respond @blocked 403

	@logo_cache path /api/channels/logos/*/cache
	rewrite @logo_cache {path}/

	reverse_proxy http://dispatcharr:9191
}

play.beans.is {
	import logger jellyfin
	import tls_cf
	import base_config
	reverse_proxy http://jellyfin:8096
}

request.play.beans.is {
	import logger seerr
	import tls_cf
	import base_config
	reverse_proxy http://seerr:5055
}

invites.play.beans.is {
	import logger wizarr
	import tls_cf
	import base_config
	reverse_proxy http://wizarr:5690
}